@-moz-viewport {
    width: device-width;
    scale: 1;
}

@-ms-viewport {
    width: device-width;
    scale: 1;
}

@-o-viewport {
    width: device-width;
    scale: 1;
}

@-webkit-viewport {
    width: device-width;
    scale: 1;
}

@viewport {
    width: device-width;
    scale: 1;
}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-x: hidden;
    background-color: ghostwhite;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navigation {
    position: absolute;
    display: block;
    left: 100%;
    background-color: dimgrey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 200ms ease;
    /*    position: absolute left: 100%;*/
}

.nav-bars {
    height: 212px;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: white;
}

a {
    text-decoration: none;
    text-align: left;
    padding-right: 10%;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 100;
}

.arrow {
    top: 50%;
    width: 55px;
}

.logo {
    width: 240px;
    padding-top: 1em;
    padding-left: none;
    position: relative;
    z-index: 1000;
}

.toggle {
    margin-top: .1em;
    position: absolute;
    right: 5%;
    top: 20px;
    width: 50px;
    border: 1px;
}

.panel {
    background-color: aquamarine;
    max-height: 0;
    overflow: hidden;
    transition: all 400ms linear;
}

.nav {
    list-style-type: none;
    background-color: white;
    opacity: 50px;
    color: orange;
    margin-top: 80px;
}

.js-panel-open {
    width: 15em;
    background-color: dimgrey;
    left: calc(100% - 15em);
}

.header {
    background-color: beige;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 3em;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}

.btn-move {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 50%;
    margin-right: 50%;
}

button:hover {
    background-color: black;
    border: 2px solid black;
}

.fish-wrap {
    overflow: hidden;
    padding-top: 10px;
}

.fish {
    background-image: url(../images/fish.svg);
    background-repeat: repeat-x;
    background-size: 120px auto;
    height: 120px;
    width: 120%;
    position: relative;
    left: 0;
}

.js-fish-move {
    -webkit-animation: fish-move linear 1s infinite;
    animation: fish-move linear 1s infinite;
}

@-webkit-keyframes fish-move {
    0% {
        left: 0;
    }
    100% {
        left: -120px;
    }
}

@keyframes fish-move {
    0% {
        left: 0;
    }
    100% {
        left: -120px;
    }
}

.fish-wrap {
    overflow: hidden;
    padding-top: 10px;
}

.btn-roll {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 50%;
    margin-right: 50%;
}

.yarn-wrap {
    overflow: hidden;
    padding-top: 20px;
}

.yarn {
    background-image: url(../images/ball1.svg);
    background-repeat: no-repeat;
    background-size: 120px auto;
    height: 130px;
    width: 130px;
}

.yarn-move {
    position: relative;
    left: 100%;
}

.js-yarn-rotate {
    -webkit-animation: yarn-rotate linear 2s infinite;
    animation: yarn-rotate linear 2s infinite;
}

.js-yarn-move {
    -webkit-animation: yarn-move linear 8s infinite;
    animation: yarn-move linear 8s infinite;
}

@-webkit-keyframes yarn-rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

@keyframes yarn-rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes yarn-move {
    0% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}

@keyframes yarn-move {
    0% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}

.btn-mouse {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 50%;
    margin-right: 50%;
}

.mouse-wrap {
    overflow: hidden;
    margin-top: 20px;
}

.mouse {
    background-image: url(../img/mouse.svg);
    background-repeat: no-repeat;
    background-size: 120px auto;
    height: 80px;
    width: 100%;
    position: relative;
    left: -30%;
}

.js-mouse-move {
    -webkit-animation: mouse-move linear 2s infinite;
    animation: mouse-move linear 2s infinite;
}

@-webkit-keyframes mouse-move {
    0% {
        left: -30%;
    }
    100% {
        left: 120%;
    }
}

@keyframes mouse-move {
    0% {
        left: -30%;
    }
    100% {
        left: 120%;
    }
}

.mouse-wrap {
    overflow: hidden;
    padding-top: 10px;
}